@model NeoFindR.Features.Inhabitants.Search.Model

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Search" method="get" class="form-inline">
    <div class="form-group mb-2">
        <label for="Term" class="sr-only">Search</label>
        <input type="text" name="Term" class="form-control mr-2"/>
    </div>
    <button type="submit" class="btn btn-outline-light mb-2">Search</button>
</form>


<table class="table table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Last Slept</th>
        <th>Threat Level</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model.Results)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.LastSlept</td>
            <td>@person.ThreatLevel</td>
            <td>
                <form asp-action="Destroy" method="post">
                    <input type="hidden" name="Id" value="@person.Id"/>
                    <button class="btn btn-outline-light">Destroy</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>